@import "tailwindcss";


@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMonoNL-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color-900: #121212;
  --primary-color-800: #1A1A1A;
  --primary-color-700: #1E1E1E;
  --primary-color-600: #252525;
  --primary-color-500: #222222;
  --primary-color-400: #444444;  /* Border Color */
  --primary-color-300: #4A4A4A;


  --secondary-color: #D9D9D9;

  --accent-color-900: #8BC34A;
  --accent-color-500: #4D6B2A;

  --while-color: #D9D9D9;

  --red-color: #FF5F56;
  --yellow-color: #FFBD2E;
  --green-color: #27C03F;
}

@theme {
  --color-primary-900: var(--primary-color-900);
  --color-primary-800: var(--primary-color-800);
  --color-primary-700: var(--primary-color-700);
  --color-primary-600: var(--primary-color-600);
  --color-primary-500: var(--primary-color-500);
  --color-primary-400: var(--primary-color-400);

  --color-secondary: var(--secondary-color);

  --color-accent-900: var(--accent-color-900);
  --color-accent-500: var(--accent-color-500);

  --color-white: var(--while-color);

  --color-red: var(--red-color);
  --color-yellow: var(--yellow-color);
  --color-green: var(--green-color);

  --animate-cursor-blink: cursor-blink 1s steps(2) infinite;

  @keyframes cursor-blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--primary-color-900);
  color: var(--secondary-color);
  font-weight: 400;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color-400) var(--primary-color-900);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color-900);
  /* border-radius: 8px; */
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color-400);
  border-radius: 8px;
}
