@import "tailwindcss";

:root {
  --primary-color: #463951;
  --secondary-color: #D9D9D9;
  --accent-color: #ECA035;

}


body {
  font-family: 'JetBrains Mono', Inter, monospace;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}